/* CSS declarations go here */
body {
    font-family: 'Lato', sans-serif;
}

md-content {
    position: relative;
}

.controls {
    background-color: rgba(0, 0, 0, 0.65);
    /*bottom: 0;*/
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity ease-in 0.15s;
}

.controls sd-hide {
    border-right: 1px solid #68aae2;
}

.dash-header {
    background-color: #353535;
    color: #eee;
}

.delivery-count {
    font-size: 155%;
    font-weight: bolder;
    padding: 5px;
    text-decoration: underline;
}

.dash-component:hover .controls {
    opacity: 1;
    transition: opacity ease-in 0.15s;
    transition-delay: 0.5s;
}

.md-headline md-icon {
    margin-left: 5px;
    vertical-align: text-top;
}

.md-subheader {
    padding: 10px;
}

.md-toolbar-tools {
    /*font-size: 110%;*/
}

.md-toolbar-tools:not(.dash-header) {
    /*min-height: 85px;*/
}

.standout-text {
    font-size: 150%;
}
