<md-content class="dash-component">
    <md-toolbar>
        <div class="md-toolbar-tools">
            Dessert Makers
            <div class="controls">
                <sd-hide component-id="dessert-maker-list"></sd-hide>
            </div>
        </div>
    </md-toolbar>
    <div layout layout-padding layout-wrap>
        <md-card ng-repeat="dm in $ctrl.list">
            <md-card-title-text>
                <span class="md-headline">{{dm.username}}</span>
                <span class="md-subheader">
                    Dessert Delivered
                    <span class="delivery-count">
                        {{dm.profile.deliveries}}
                    </span>
                </span>
                <md-divider></md-divider>
                <div>
                    <div ng-repeat="d in dm.profile.desserts">
                        <md-button
                            ng-click="$ctrl.createGoal({dm, dessert: d})">
                            {{d.type}} | {{d.steps}} Steps
                        </md-button>
                    </div>
                </div>
            </md-card-title-text>
        </md-card>
    </div>
</md-content>
